<nav class="bg-white text-black p-2 fixed top-0 left-0 w-full z-50 shadow-md transition-all duration-300"
[class.bg-gray-200]="scrolled"
>
  <div class="container flex justify-center">
    <ul class="flex space-x-4">
      <li>
        <a 
          class="hover:text-blue-700 p-1 cursor-pointer" 
          [class.bg-cyan-400]="isActive('home')" 
          [class.rounded-lg]="isActive('home')" 
          (click)="scrollToSection('home')"
        >
          Home
        </a>
      </li>
      <li>
        <a 
          class="hover:text-blue-700 p-1 cursor-pointer" 
          [class.bg-cyan-400]="isActive('description')" 
          [class.rounded-lg]="isActive('description')" 
          (click)="scrollToSection('description')"
        >
          Description
        </a>
      </li>
      <li>
        <a 
          class="hover:text-blue-700 p-1 cursor-pointer" 
          [class.bg-cyan-400]="isActive('skills')" 
          [class.rounded-lg]="isActive('skills')" 
          (click)="scrollToSection('skills')"
        >
          Skills
        </a>
      </li>
      <li>
        <a 
          class="hover:text-blue-700 p-1 cursor-pointer" 
          [class.bg-cyan-400]="isActive('projects')" 
          [class.rounded-lg]="isActive('projects')" 
          (click)="scrollToSection('projects')"
        >
          Projects
        </a>
      </li>
      <li>
        <a 
          class="hover:text-blue-700 p-1 cursor-pointer" 
          [class.bg-cyan-400]="isActive('contact-form')" 
          [class.rounded-lg]="isActive('contact-form')" 
          (click)="scrollToSection('contact-form')"
        >
          Contact Form
        </a>
      </li>
    </ul>
  </div>
</nav>