<div class="flex items-center space-x-72">
    <div>
      <p class="text-3xl font-bold">Hola, mi nombre es</p>
      <p class="text-5xl font-bold mt-1 text-cyan-400">CARLOS ARAUCO</p>
      <p class="mt-4 text-lg">
        Soy <strong>estudiante</strong> de la carrera de <strong>Ingeniería Civil en Computación e Informática</strong>, con el objetivo de especializarme en el <strong>desarrollo web</strong>, específicamente en la parte de <strong>backend</strong>. Aspiro a contribuir en la creación de soluciones eficientes, escalables y bien estructuradas.
      </p>
    </div>
    <div class="w-full">
      <img src="assets\images\Carlos_Avatar.png" class="w-max h-max rounded-full border-4 border-black -mt-5">
    </div>
  </div>